[submodule "PowerSystemsTestData"]
	path = PowerSystemsTestData
	url = https://github.com/NREL-SIIP/PowerSystemsTestData
	shallow = true
[submodule "rts-gmlc"]
	path = rts-gmlc
	url = https://github.com/gridmod/rts-gmlc
	shallow = true
